@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Why you should hire me?</h1>
    <p class="lead">Because I tried to manage to do all stuff which was mentioned in email ) .</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Hardworker</h2>
        <p>
            I am a hardworking and motivated individual with a strong passion for technology. I am always seeking to learn and improve my skills in order to keep up with the constantly evolving field of IT.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Good company</h2>
        <p>I am excited about the opportunity to join your team because I have a strong admiration for the work your company is doing. The innovative products and services you offer are truly impressive, and I am eager to be a part of a team that is making such a positive impact in the technology industry. Working for a company with such a strong reputation for excellence would be an incredible opportunity for me to grow and develop my skills. </p>
    </div>
    <div class="col-md-4">
        <h2>IT career</h2>
        <p>I am adaptable and able to quickly learn new technologies and systems. I am always looking for opportunities to expand my knowledge and skillset, which makes me an asset to any team.</p>
    </div>
</div>