
@{
    ViewBag.Title = "NotFound";
}

<div style="background-color: #969892; color: White; height: 10px;">
</div>
<div style="background-color: black; color: White; height: 170px;">
    <div style=" padding:20px;">
        <h2>
            This is my custom 404 NOT FOUND Page
        </h2>

        <h3>
            Application Error:
        </h3>
        <h4>
            Sorry, The Page, You are Looking for is not found.
        </h4>
        <h6 style="color:gray">@Html.ActionLink("Go Back To Home Page", "Index", "Home")</h6>
        <br />
        <br />
    </div>
</div>
<div style="background-color: #969892; color: White; height: 20px;">
</div>
